<form method="post">
  {% if error %}
  <p>Invalid Username and Password</p>
  {% endif %}
  <div class="username">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
  </div>
  <div class="password">    
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
  </div>
  <div class="login">
    <button type="submit">Login</button>
  </div>
</form> 
